
mat-toolbar {
    background: #6fc7ba;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

mat-sidenav {
    margin: 16px;
    width: 230px;
    height: 90vh;
    border-right: none;
    background: #6fc7ba;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: 90vh;
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: black;
}

mat-sidenav-container {

    height: calc(94vh);
    overflow: hidden;
}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    margin-bottom: 50px;
}

button{
    display: flex;
}

h1{
    padding-top: 10px;
    font-weight: 700;
}
img{
    padding-top: 10px;
    height: 55px;
    width: 47px;
    margin-left: 30px;
    transform: rotate(-50deg);
}
span{
    font-weight: 600;
}

.mat-elevation-z8{
  overflow: hidden !important;
}
